<div class="column"">
	<div class="invisible"></div>

	<% current_user.events.where(day: day).each do |e| %>
		<div id="e<%= e.id %>" data-id="<%= e.id %>"
			 class="event-class ui center aligned vertical padded segment <%= Event::COLORS[e.urgency] %> inverted">
			<h4 class="ui header"><%= e.title %></h4>
			
			<div class="event-buttons invisible">
				<div id="edit<%= e.id %>" class="edit-button ui icon button"><i class="edit icon"></i></div>
				<div id="delete<%= e.id %>" class="delete-button ui icon button"><i class="trash outline icon"></i></div>
			</div>
		</div>
	<% end %>
</div>