<div class="column"">
	<div class="invisible"></div>

	<% current_user.events.where(day: day).each do |e| %>
		<div id="e<%= e.id %>" data-id="<%= e.id %>"
			 class="event-class ui center aligned vertical padded segment <%= Event::COLORS[e.urgency] %> inverted">
			<h4 class="ui header"><%= e.title %></h4>

			<div class="event-buttons invisible">
				<div id="edit<%= e.id %>" class="edit-button ui icon button"><i class="edit icon"></i></div>
				<%= link_to(e, {
						class: "ui icon button",
						method: "delete",
						data: { confirm: "Are you sure?" }
					}) do %>
					<i class='trash outline icon'></i>
				<% end %>
		
			</div>
			<%= render partial: 'event_modal', locals: { e: e } %>
		</div>
	<% end %>
</div>