<!DOCTYPE html>
<html>
  <head>
    <title>Wikly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
  <link rel="icon" type="image/png" href="/wiklyfav.ico" sizes="32x32">
  </head>

  <body data-controller="<%= controller %>">
	  <% if notice || alert || @alert || @notice  %>	
	  	<div class="ui basic modal">
		  <div class="ui icon header">
		    <i class="comment outline icon"></i>
		    The server says:

			  <div class="content">
			    <p class="notice"><%= notice %><%= @notice %></p>
		     	<p class="alert"><%= alert %><%= @alert %></p>
			  </div>
  		  </div>
		  <div class="actions">
		    <div id="modalButton" class="ui green ok inverted button">
		      <i class="checkmark icon"></i>
		      Okay
		    </div>
		  </div>
		</div>
	  <% end %>
    <div class="ui grid container">
      	<div id="navbar" class="blue row">
	      <br/>
	      	<div id="bartitle" class="one wide column">
		      	<a href="/"><h1 class="ui header"><img id="wiklyLogo" src="/wikly.png"></h1></a>
	      	</div>
	    	<% if user_signed_in? %>
	    		<div id="navButton" class="two wide column">
	    	    	<%= link_to 'Sign out',  destroy_user_session_path, :class => "ui button",  method: :delete, data: { confirm: 'Are you sure?' } %>
		    	</div>
		    	<div id="navButton" class="two wide column">
	    	    	<a href="/users/edit" id="anav"><button class="ui button">Edit Profile</button></a>
		    	</div>
		    	<div id="navButton" class="two wide column">
	    	    	<a href="/events" id="anav"><button class="ui button"> My Events </button></a>
	    	    </div> 
				<div id="bartar" class="two wide column">
					<%= image_tag current_user.avatar.url(:thumb) %>
				</div> 
	    	<% end %>
		</div>			
      <%= yield %>
    </div>
    <script type="text/javascript">
    	$('.ui.basic.modal')
  			.modal('show')
		;
    </script>
  </body>
</html>
