<!DOCTYPE html>
<html>
  <head>
    <title>Wikly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<% if user_signed_in? %>
	   <a href="/"> <%= image_tag current_user.avatar.url(:thumb) %></a><br />
	    <li><%= link_to 'Sign out',  destroy_user_session_path,  method: :delete, data: { confirm: 'Are you sure?' } %></li>
	    <li><a href="/users/edit">Edit Profile </a></li>    
	<% end %>
    <%= yield %>
  </body>
</html>
