<!DOCTYPE html>
<html>
  <head>
    <title>Wikly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
  </head>

  <body data-controller="<%= :controller %>" data-action="<%= :action %>">
    <div class="ui grid container">
      <div class="blue row">
      <br/>
      <a href="/"><h1 class="ui header">wikly</h1></a>
      </div>
    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    	<% if user_signed_in? %>
			<div><%= image_tag current_user.avatar.url(:thumb) %></div><br />
    	    <li><%= link_to 'Sign out',  destroy_user_session_path,  method: :delete, data: { confirm: 'Are you sure?' } %></li>
    	    <li><a href="/users/edit">Edit Profile </a></li> 
    	    <li><a href="/events"> My Events </a></li>   
    	<% end %>
      <%= yield %>
    </div>
  </body>
</html>
